.header {
    background-color:black;
    width: 100vw;
    color: white;
    padding: 13px;
    display: flex;
    position: sticky;
    top: 0;
}

.portada {
    width: 100vw;
    background-image: url(../img/portada2.jpg);

}


.caja {
    width: 500px;
    border: solid;
    background-image: linear-gradient(black, gray, beige);
    background-size: 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 1%;
    padding: 15px;
    color:black;
}

.caja img{
    height: 600px;
}

.contenedor-galeria img {
    object-fit: fill;
    width: 100%;
}

.article__resumen {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100vw;
}


.contenedor-galeria {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;

}

@media(min-width: 300px) and (max-width: 800px) {
    .header {
        width: 100vw;
        display: grid;
        flex-flow: column;
        grid-template-columns: repeat(2, 2, 2fr);

        &__titulo {
            text-align: center;
        }
    }

    .portada {
        width: 100vw;
        background-image: url(../img/fondo.jpg);
    }

    .caja {
        width: 350px;
    }

    .contenedor-galeria {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .article__anime {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
    }
}